/* src/components/ShowMoreButton.module.css */

.showMoreButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.showMoreButton:hover {
  background-color: #005bb5;
}

.showMoreButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
