@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    font-family: "Meiryo", "Osaka", "MS PGothic", Arial, Helvetica, sans-serif;
  }
} 

/* すべてのリンクにポインターカーソル */
a, a:visited {
  cursor: pointer;
}

/* サムネイル画像がリンクの場合 */
a img, .thumbnail-link {
  cursor: pointer;
}

.topPageContainer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: #333;
  background-color: #fff;
}