@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    font-family: "Meiryo", "Osaka", "MS PGothic", Arial, Helvetica, sans-serif;
  }
} 

/* すべてのリンクにポインターカーソル */
a, a:visited {
  cursor: pointer;
}

/* サムネイル画像がリンクの場合 */
a img, .thumbnail-link {
  cursor: pointer;
}

.topPageContainer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: #333;
  background-color: #fff;
}

/* 他のユーティリティクラス */
.text-center {
  text-align: center;
}

.scroll-to-top-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}